<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roulette</title>

</head>

<body>
  <form action="/messages" method="POST">
    <input type="number" placeholder="message" name="msg">
    <input type="text" placeholder="message" name="bet">
    <button type="submit">Submit</button>
    <input type="button" value="red">
    <input type="button" value="black">
    <input type="button" value="green">
  </form>
</body>

</html>